    GLOBAL_SETTINGS
    LAB_MASTER_SEED test_student_master_seed
    REGISTRY ducanh172
NETWORK TEST-NETWORK
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER client
     USER ubuntu
     X11 YES
     PASSWORD ducanh172
     TEST-NETWORK 172.20.0.10
CONTAINER server
     USER ubuntu
     X11 YES
     PASSWORD ducanh172
     TEST-NETWORK 172.20.0.20
